body{
  background-image: url("back2.png");
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
  

}
h1,h2,p,ul,li{
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

ul.header li{
  display: inline;
  list-style-type: none;
  margin-left: 1rem;
  font-size: 18px;
}

ul.header{
  background-color: #050505;
  padding: 0;
}

ul.header li a{
  color: #40f792;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}
ul.header li a:hover{
  color: #e9ecef;
  text-decoration: none;
}
.content{
  background-color: transparent;
  padding: 20px;
  height: auto;
  color: #ffffff;
}
.content{
  padding: 0;
  margin: 0;
}
.content li{
  margin-bottom: 10px;
}

.logo{
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  font-family: Georgia, Times, serif;
  text-decoration: none;
  margin: 0 0 18px 0;
}
.logo:hover{
  color: #eece1a;
  text-decoration: none;
}